
.sqp-subtitle-rendering {
  overflow: hidden;
}

/* class related to subtitle rendering */
.sqp-subtitle-rendering > div {
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 0px;
  color: white;
  font-family: 'SourceSans', sans-serif;
  left: 0px;
  line-height: normal;
  flex-direction: column;
}

.sqp-ttml-region {
    background-color: transparent;
    color: white;
    direction: ltr;
    display: block;
    /*align-items: flex-start;*/
    width: 100%;
    height: 100%;
    font-family: initial;
    font-size: 5vh;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    opacity: 1.0;
    top: 0%;
    left: 0%;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    justify-content: flex-start;
    text-decoration: none;
    unicode-bidi: normal;
    visibility: visible;
    white-space: normal;
    z-index: initial;
}

.sqp-ttml-sub {
    width:100%;
    height:auto;
    align-self:center;
}

.sqp-ttml-inner-div .sqp-ttml-inner-p {}

.sqp-subtitle-element {
    background-color: black;
    padding: 2px;
}

.sqp-all-controls, .sqp-vr-controls {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

