.app-container {
    min-height: calc(100vh - 50px);
    width: 100%;
    padding-bottom: 50px;
    background-color: #082b44;
    position: relative;
    display: flex;
    flex-direction: column;
}

.return-back-container {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.powered-by-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.powered-by-text {
    color: #ffffff;
    font-size: 16px;
}

.logo-top {
    background-image: url("sceenic.svg");
    background-repeat: no-repeat;
    width: 90px;
    height: 110px;
    background-size: contain;
    background-position: center;
}

.groupName-input {
    -webkit-appearance: none;
    outline: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 4px 0;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    background: none;
    border-radius: 0;
    color: #ffffff;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.watch-together-button {
    height: 40px;
    width: 150px;
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
    font-size: 0.875rem;
    line-height: 40px;
    vertical-align: top;
    margin: 0;
    padding: 0 10px;
    border-radius: 2px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;
}
.watch-together-button:hover {
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.7);
}
.watch-together-button:disabled {
    border: 1px solid rgba(124, 31, 31, 0.7);
}
.watch-together-button:disabled:hover {
    box-shadow: 0 1px 5px rgba(255, 0, 0, 0.7);
}

.leave {
    background-color: red;
    border: none;
}
.chat-container {
    width: 370px;
    height: calc(100% - 120px);
    max-height: 590px;
    position: fixed;
    right: 25px;
    bottom: 70px;
    box-sizing: border-box;
    box-shadow: 0 7px 40px 2px rgba(148, 149, 150, 0.3);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 99;
    text-align: left;
}
.chat-header {
    background: #1b2638;
    min-height: 75px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: white;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.chat-header-room-name {
    align-self: center;
    padding: 10px;
    flex: 1 1;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 5px;
}
.chat-header--close-button {
    width: 40px;
    align-self: center;
    height: 40px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
}
.chat-header--close-button img {
    width: 100%;
    height: 100%;
    padding: 13px;
    box-sizing: border-box;
}
.user-input--text {
    width: 300px;
    resize: none;
    border: none;
    outline: none;
    border-bottom-left-radius: 10px;
    box-sizing: border-box;
    padding: 18px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #565867;
    -webkit-font-smoothing: antialiased;
    max-height: 200px;
    overflow: scroll;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.user-input--text:empty:before {
    content: attr(placeholder);
    display: block;
    color: rgba(86, 88, 103, .3);
    outline: none;
}
.user-input--buttons {
    width: 100px;
    position: absolute;
    right: 10px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.user-input--button {
    width: 40px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-input--send-icon-wrapper {
    background: none;
    border: none;
    padding: 2px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-input--send-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    align-self: center;
    outline: none;

}
.message-list{
    height: 80%;
    overflow-y: auto;
    background-color: white;
    background-size: 100%;
    padding: 40px 0px;
}
.user-input {
    min-height: 55px;
    margin: 0;
    position: relative;
    bottom: 0;
    display: flex;
    background-color: #f4f7f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: background-color .2s ease, box-shadow .2s ease;
}
.user-input textarea {
    background-color: transparent;
}

.bc-player-default_default{
    width: 960px;
    height: 540px;
}
